<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 xl-100">

            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-danger">
                            <h3 class="mt-0 mb-0 f-w-600">
                                {{ timeboxData.arivelTime }}
                            </h3>
                            <p>ARRIVAL TIME</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-success">
                            <h3 class="mt-0 mb-0 f-w-600">
                                {{ timeboxData.leftTime }}
                            </h3>
                            <p>LEFT TIME</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-info">
                            <h3 class="mt-0 mb-0 f-w-600">
                                {{ timeboxData.spanTime }}
                            </h3>
                            <p>TIME SPAN</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body text-success">
                            <h3 class="mt-0 mb-0 f-w-600">
                                {{ timeboxData.activeTime }}
                            </h3>
                            <p>ACTIVE TIME</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row" *ngIf="display">

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5>PRODUCTIVITY BAR</h5>
                        </div>
                        <div class="card-body">
                            <div class="flot-chart-container">
                                <div class="flot-chart-placeholder">
                                    <nvd3 [options]="options" [data]="productivityData"></nvd3>
                                    <div class="timeline">
                                        <div class="interval"></div>
                                        <div class="ticks">
                                            <div [ngStyle]="{'width': styleWidth}" class="tick" *ngFor="let tick of ticks">{{ tick }}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row" *ngIf="display">

                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5>App usage</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                  <h4> Productive </h4> 
                                  <div class="productive">
                                      <p>github.com(10m 42s)</p>
                                  </div> 
                                </div>
                                <div class="col-md-4">
                                  <h4> Neutral </h4>
                                  <div class="neutral">
                                    <p>localhost:4200(1hr 25m 38s)</p>
                                  </div>
                                  <div class="neutral">
                                    <p>skype(49m 5s)</p>
                                  </div>
                                  <div class="neutral">
                                    <p>code(2hr 53m 47s)</p>
                                  </div>
                                  <div class="neutral">
                                    <p> Windows Explorer (19m 13s)</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <h4> Unproductive </h4>
                                  <div class="unproductive">
                                    <p>skype[2](8m 56s)</p>
                                  </div>
                                  <div class="unproductive">
                                    <p>meet.google(26m 3s)</p>
                                  </div> 
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>